    </div>
    <footer id="mainfoot">
        <div id="container">
            <div>
                <p class="contactme">
                    Thanks for checking out my website, you can contact me at vgdiego1060@gmail.com
                </p>
            </div>
        </div>
    </footer>

    </body>
</html>