<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
    <head>
        <title>Diego's Booklist</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="device=width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
        <script type="text/javascript" src="/js/main.js"></script>
        <!-- font-family: 'Montserrat', sans-serif;
            font-family: 'Inconsolata', monospace;-->
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat:400,600&display=swap" rel="stylesheet">
        <!-- INFO -->
        <meta name="author" content="Diego Vargas"/>
        <meta name="description" content="Created for the sole purpose of tracking books I've read."/>
        <meta name="keywords" content="Book tracking, books, Diego Vargas, catalog"/>
        <!-- FAVICON -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <!-- FONT AWESOME CDN -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    <body>
        
        <nav id="mainnav">
            <div id="container">
                <div>
                    <i class="fas fa-book fa-2x"></i>
                </div>
                <ul id="ulnav">
                    <li class="linav"><a href="/" class="linksfornav">Home</a></li>
                    <li class="linav"><a href="/booklist" class="linksfornav">Books</a></li>
                    <li class="linav"><a href="/about" class="linksfornav">About</a></li>
                </ul>
            </div>
        </nav>
        <div id="contentwrapper">