<% include ./partials/head.ejs %>

    <div class="carousel-container">
        <div class="carousel-slide">
            <img src="http://www.apimages.com/Images/Ap_Creative_Stock_Header.jpg" id="lastClone" alt="">
            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/05/emilia-clarke-making-stock-photos-5-5b0801c7504b2__700.jpg" alt="">
            <img src="https://ichef.bbci.co.uk/news/660/cpsprodpb/13F00/production/_95146618_bills.jpg" alt="">
            <img src="http://www.apimages.com/Images/Ap_Creative_Stock_Header.jpg" alt="">
            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/05/emilia-clarke-making-stock-photos-5-5b0801c7504b2__700.jpg" id="firstClone" alt="">
        </div>
    </div>

    <button id="prevBtn">Prev</button>
    <button id="nextBtn">Next</button>

<% include ./partials/foot.ejs %>