/* MAIN/BASICS */
body {
    background:rgb(108, 145, 194);
    padding:0;
    margin:0;
    font-family: 'Inconsolata', monospace;
}

/* FOR DECLARING VARIABLES */
:root {
    --main-anim-nav: color 0.7s ease;
    --main-color-navfoot: rgb(55, 63, 71);
    --main-color-imptext: rgb(202, 198, 186);
}

/* CONTAINER */
#container {
	display:grid;
	grid-template-columns:50% 50%;
}

/* NAVBAR */
#mainnav {
    background: var(--main-color-navfoot);
    -webkit-box-shadow: -5px 3px 4px -5px rgba(0,0,0,1);
    -moz-box-shadow: -5px 3px 4px -5px rgba(0,0,0,1);
    box-shadow: -5px 3px 4px -5px rgba(0,0,0,1);
}

#ulnav {
    padding:0;
    margin:0;
    list-style:none; 
    display:flex;
    justify-content:space-evenly;
}

.linav {
    display:flex;
}

.linksfornav {
    text-decoration:none;
    font-size:2.2em;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    color: var(--main-color-imptext);
    /* TRANSITION */
    -webkit-transition: var(--main-anim-nav);
    -moz-transition: var(--main-anim-nav);
    -ms-transition: var(--main-anim-nav);
    -o-transition: var(--main-anim-nav);
    transition: var(--main-anim-nav);    
}
    .linksfornav:hover{
        color:rgb(134, 135, 146);
    }

/* MEDIA QUERIES FOR NAVBAR */
@media (max-width: 992px) {
  #ulnav {
    justify-content: space-around;
  }
  .linksfornav {
    font-size:1.5em;
  }
}

@media (max-width: 576px) {
  .linksfornav {
    font-size:0.9em;
  }
}

/* BODY/CONTENT */
#contentwrapper {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    #contentwrapper {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    #contentwrapper {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    #contentwrapper {
      width: 1170px;
    }
  }

/* FOOTER */
#mainfoot {
    background: var(--main-color-navfoot);
    color: var(--main-color-imptext);
    text-align:center;
}